# SESI 1

# Integer

In [15]:
print(123123123123123 + 1)

123123123123124

In [16]:
print(type(10))

<class 'int'>

In [17]:
print(4.2)

4.2

# Float

In [18]:
print(type(4.2))

<class 'float'>

In [19]:
print(.4e7)

4000000.0

In [20]:
print(type(.04e2))

<class 'float'>

# String

kata-kata diapit tanda kutip ("")

In [22]:
print("Hactiv8")

Hactiv8

In [23]:
print(type("Hactive8"))

<class 'str'>

# Boollean

benar atau salah

In [24]:
print(True)

True

In [27]:
print(False)
print(type(False))

False
<class 'bool'>

## Tipe Data:
1. Integer
2. Float
3. String
4. Boollean

# Variable Assignment

In [42]:
type("memasukan apapun kedalam variable integer,string,float,boolean")

str

In [32]:
n =300

In [33]:
n

300

In [34]:
ada_apa_dengan_cinta = "baper sama rangga"

In [35]:
ada_apa_dengan_cinta

'baper sama rangga'

In [36]:
n = 500

In [37]:
print (n)

500

In [38]:
age = 1
AGE = 2

In [39]:
age

1

In [40]:
AGE

2

In [41]:
Age

NameError: name 'Age' is not defined

In [43]:
print (age,AGE)

1 2

In [44]:
a = b = c = 300

In [45]:
a

300

In [46]:
a= 100

In [47]:
a

100

In [48]:
b = 5

# Variable type in PY

In [51]:
var = 23.5
print (var)
var = "Now I'm is a string"
print (var)

23.5
Now I'm is a string

In [52]:
type("variable tidak boleh dimulai dgn angka")

str

In [56]:
_kepala_naga=True

In [59]:
type ("Age")
Age = 54
type (Age)

int

In [66]:
type("has_laptops")

str

In [73]:
has_laptops = bool

In [68]:
has_laptop

bool

# Variable Name

In [74]:
name = "Hactiv8"
Age = 54
has_laptops = True
print (name, Age, has_laptops)

Hactiv8 54 True

In [75]:
kepala_naga = True

In [76]:
kepala_naga

True

In [77]:
_AGE_ = True

In [78]:
_AGE_

True

In [87]:
_kepala_naga = True
_kepala_naga

True

# Operators and Expresion in PY

In [91]:
a = 10
b = 20.0
a+b

30.0

In [80]:
a = 10
b = 20
a+b

30

In [81]:
a + b - 5

25

# Arthmetic Operators

In [99]:
a=4
b=3
print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a%b)
print (a**b)

7
1
12
1.3333333333333333
1
64

In [85]:
10/5

2.0

# Comparison Operators

In [103]:
a=10
b=20
a == b

False

In [104]:
a!=b

True

In [105]:
a<=b

True

In [106]:
a>=b

False

# String Manipulation

In [109]:
s = 'foo'
t = 'bar'
u = 'baz'
print (s+t)
print (s+t+u)
print ('Hactive8'+'PTP')
print (type('s+u'))
s*4

foobar
foobarbaz
Hactive8PTP
<class 'str'>

'foofoofoofoo'

### in operators

In [111]:
s ='foo'
print(s in'That food for us')
print(s in'That good for us')

True
False

karena ada bagian dari string tersebut ada didalam code atau tidak

In [119]:
s = 'HactIVE8 sebuah title'

# capitalize
print(s.capitalize())

# lower
print (s.lower())

# swapcase
print(s.swapcase())

# title
print(s.title())

# Uppercase
print(s.upper())

Hactive8 sebuah title
hactive8 sebuah title
hACTive8 SEBUAH TITLE
Hactive8 Sebuah Title
HACTIVE8 SEBUAH TITLE

# Struktur Data : Python List

In [124]:
a=['foo', 'bar', 'baz','qux']
print (a)

['foo', 'bar', 'baz', 'qux']

## Order Objects

In [128]:
a=['foo', 'bar', 'baz','qux']
b=['bar', 'baz','qux', 'foo']
a==b

False

In [129]:
a!=b

True

In [130]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
print (a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14]

In [137]:
type (a[1])

str

In [143]:
print(a[0])
type (a[0])

21.42

float

#### Slicing = mencari code pada element tertentu

In [146]:
a[2:5]

[3, 4, 'bark']

#### concatenation = menambahkan element baru

In [147]:
a=['foo', 'bar', 'baz','qux']

In [148]:
a

['foo', 'bar', 'baz', 'qux']

In [149]:
print(a+['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'grault', 'garply']

In [150]:
print(a*2)

['foo', 'bar', 'baz', 'qux', 'foo', 'bar', 'baz', 'qux']

#### len (panjang); min; max

In [151]:
print (a)

['foo', 'bar', 'baz', 'qux']

In [153]:
len (a)

4

In [154]:
min (a)

'bar'

In [155]:
max(a)

'qux'

# Modifying Single List Value

In [156]:
a=['foo', 'bar', 'baz','qux','corge']

print (a)

['foo', 'bar', 'baz', 'qux', 'corge']

In [159]:
a[2] = 10
print (a)

['foo', 'bar', 10, 'qux', 'corge']

In [160]:
a[-1]=20

In [161]:
print(a)

['foo', 'bar', 10, 'qux', 20]

In [162]:
del a [3]

In [163]:
print (a)

['foo', 'bar', 10, 20]

In [164]:
a=['foo', 'bar', 'baz','quuux','qux','corge']

In [165]:
print (a)

['foo', 'bar', 'baz', 'quuux', 'qux', 'corge']

In [166]:
a[-4]

'baz'

In [167]:
print (a+["10"])

['foo', 'bar', 'baz', 'quuux', 'qux', 'corge', '10']

# Modifying multiple list

In [173]:
a=['foo', 'bar', 'baz','quuux','qux','corge']

In [174]:
print (a[1:4])

['bar', 'baz', 'quuux']

In [175]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

In [176]:
print (a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'qux', 'corge']

In [177]:
a=['foo', 'bar', 'baz','quuux','qux','corge']
print (a[0])
a[0:1] = [1,2,3,4,5,6,7,8,9]
print (a)

foo
[1, 2, 3, 4, 5, 6, 7, 8, 9, 'bar', 'baz', 'quuux', 'qux', 'corge']

In [178]:
a=['foo', 'bar', 'baz','quuux','qux','corge']

a[1:1]=[1,2,3,4,5]
print(a)

['foo', 1, 2, 3, 4, 5, 'bar', 'baz', 'quuux', 'qux', 'corge']

In [181]:
a=['foo', 'bar', 'baz','quuux','qux','corge']
a[1:4] = [1,2,3,4,5]
print (a)

['foo', 1, 2, 3, 4, 5, 'qux', 'corge']

In [190]:
a=['foo', 'bar', 'baz','quuux','qux','corge']
a[1:1] = [1,2,3]
print (a)

['foo', 1, 2, 3, 'bar', 'baz', 'quuux', 'qux', 'corge']

In [193]:
a[-4:-3] = [0,4.4]
print (a)

['foo', 1, 2, 3, 'bar', 0, 0, 4.4, 0, 4.4, 'quuux', 'qux', 'corge']

# Tuple

In [197]:
t= ('foo', 'bar', 'baz','quuux','qux','corge')
print(t)

('foo', 'bar', 'baz', 'quuux', 'qux', 'corge')

In [198]:
type(t)

tuple

In [199]:
t[0]

'foo'

In [202]:
print("tuple tidak bisa diubah dan di manipulasi")

tuple tidak bisa diubah dan di manipulasi

In [203]:
s1, s2, s3, s4 = ('foo', 'bar', 'baz','quuux')

In [204]:
s1

'foo'

In [208]:
t[0] = 'value baru'

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [209]:
print ('bisa diganti dan ditambahkan')

bisa diganti dan ditambahkan

In [212]:
a = [1,2,3,4,5,[10,20,30,40,['list baru', 'inception list']]]

In [216]:
a[-1][-1][-1]

'inception list'

In [281]:
MLB_team = {
    'Colorando' : 'Rockies', 
    'Boston': 'Red Socks',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle' : 'Manriners'
}

In [284]:
MLB_team['Kansas City']='Royals'
MLB_team

{'Colorando': 'Rockies',
 'Boston': 'Red Socks',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Manriners',
 'Kansas City': 'Royals'}

In [287]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorando': 'Rockies',
 'Boston': 'Red Socks',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals',
 'Colorado': 'Royals'}

In [288]:
del MLB_team['Seattle']
MLB_team

{'Colorando': 'Rockies',
 'Boston': 'Red Socks',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals',
 'Colorado': 'Royals'}

# Build Dict Incremental

In [233]:
person = {}
type(person)

dict

In [234]:
len(person)

0

In [249]:
person ['fname'] = 'Hack'
person ['lname'] = 'PTP'
person ['age'] = '51'
person ['spouse'] = 'Eve'

In [238]:
person

{'fname': 'Hack', 'lname': 'PTP', 'age': '51'}

In [240]:
print(person['age'])

51

In [251]:
d={'a':10,'b':20,'c':30}

In [252]:
d

{'a': 10, 'b': 20, 'c': 30}

In [253]:
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [255]:
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [256]:
print(d.values())

dict_values([10, 20, 30])

# Line Continuation

In [257]:
person1_age = 42
person2_age = 16
person3_age = 71

In [258]:
(person1_age >= 18 and person1_age <=65)

True

In [259]:
(person1_age >= 18 and person1_age <=65) or (person2_age>=18)

True

In [261]:
(person2_age>=18)

False

# SESI 2

# Condition

Equal: a==b

Not Equal: a!=b

Less than: a<b

Less than or equal to: a<=b

Greater than a>b

Greater than or equalto: a>=b

##### IF statement merupakan perntaraan kondisional dimana dengan formula if(Expression in Boolean):(statement)

In [34]:
if 1<2:
    print('yes')
    print('other yes')

yes
other yes

In [7]:
x=0
y=5

In [28]:
if x<y:print('y')

y

In [29]:
if y<x: print('y')

In [30]:
if x: print('y')

In [31]:
if y: print('y')

y

In [32]:
if 'aul' in 'grault': print('y')

y

In [33]:
   
if 'quux' in ['foo','bar','baz']: print('y')

In [35]:
if 'quux' in ['foo','bar','baz']: 
    print('y')
    print('executing')
    print('....')
    print('done')
    
print ('after conditional')

after conditional

# Grouping Statement:Indentation and Blocks

In [40]:
if 'foo' in ['foo','bar','baz']: 
    print('outer condition is true')
    
    if 10>20:
        print('inner condition 1')
    print('between inner condition')
    
    if 10<20:
        print('inner condition 2')
        print('end of outer condition')
        
print("after outer condition")

outer condition is true
between inner condition
inner condition 2
end of outer condition
after outer condition

In [43]:
x = 20
if x<50:
    print('first suite')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

first suite
x is small

In [44]:
x = 100
if x<50:
    print('first suite')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [53]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang> hargaBuku:
    print ('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [55]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 7000

if uang> hargaBuku:
    print ('beli buku')
elif uang>hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

beli majalah

In [59]:
name = 'Arnold'
if name=='Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hactiv8':
    print('Hello Hactiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print('I dont know who you are')

Hello Arnold

# One line If Statement

In [61]:
name = 'Fred'
if name=='Fred':print('Hello Fred')

Hello Fred

In [62]:
name = 'Fred'
if name=='Fred':print('Hello Fred'); print('hi'); print('done')

Hello Fred
hi
done

In [68]:
x==3

if x==1: print('foo'); print('bar'); print('baz')
elif x==2: print('a'); print('z'); print('q')
else: print('corge'); print('aul')

corge
aul

# Condition expression

In [69]:
raining = False
print("Lets go to the", 'beach' if not raining else 'library')

Lets go to the beach

In [71]:
raining = True
print("Lets go to the", 'beach' if not raining else 'library')

Lets go to the library

fungsi if not(raining)
- if not True = False
- if not False = true

In [78]:
age =12
s='teen' if age <21 else'adult'
s

'teen'

In [84]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [85]:
'yes' if ('qux' in ['foo', 'bar', 'qux']) else 'no'

'yes'

# The Python pass Statement

In [91]:
if True: 
    pass
print('foo')

foo

# Python "while" Loops

while true:
    maka terjadi sesuatu

In [121]:
n = 5
while n>0:
    n -=1
    print (n)

4
3
2
1
0

In [111]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

# PY break and continue statmets

In [134]:
n=5
while n>0:
    n-=1
    if n==2:
        print ('hitting break')
        break
        print ('something')
        
    print (n)
print("Loop ended")

4
3
hitting break
Loop ended

In [123]:
n=5
while n>0:
    n-=1
    if n==2:
        continue
    print (n)
print("Loop ended")

4
3
1
0
Loop ended

# the Else Clause

In [124]:
while sesuatu:
    maka
    
else:
    maka sesuatu yang lain

SyntaxError: invalid syntax (<ipython-input-124-16836cf58802>, line 5)

In [131]:
n =5
while n>0:
    n-=1
    print (n)
    
else:
    print ('loop done')

4
3
2
1
0
loop done

# Nested while loops

In [139]:
age = 20
gender = 'M'
if age <18:
    if gender =='M':
        print ('son')
    else:
        print ('daugther')
elif age >= 18 and age <65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender =='M':
        print('grandpa')
    else:
        print('grandma')

father

In [140]:
a =['foo','bar']
while len(a):
    print(a.pop(0))
    
    b= ['baz', 'qux']
    while len(b):
        print ('>',b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [141]:
# One-line while loops

In [143]:
n=5
while n>0: n-=1; print(n)

4
3
2
1
0

# definite iteration

In [148]:
for(i=1;i<=10):
    print(i)

SyntaxError: invalid syntax (<ipython-input-148-fb4522e4a79b>, line 1)

# pytn for loop

In [152]:
a = ['foo','bar','baz']

for i in a:
    print(i)

foo
bar
baz

In [156]:
d = {'foo':1,'bar':2,'baz':3}
for k in d:
    print(d[k])

1
2
3

In [158]:
d.values()

dict_values([1, 2, 3])

In [159]:
for k in d.values():
    print(k)

1
2
3

In [160]:
d.items()

dict_items([('foo', 1), ('bar', 2), ('baz', 3)])

In [161]:
for k,v in d.items():
    print(k,":",v)

foo : 1
bar : 2
baz : 3

# range () function

In [162]:
for n in (0,1,2,3,4):
    print (n)

0
1
2
3
4

In [164]:
x = range (5)
x

range(0, 5)

In [165]:
for n in x:
    print (n)

0
1
2
3
4

# altering for loop behaviour

In [167]:
for i in ['foo','bar','baz','quux']:
    if 'b' in i:
        break
    print (i)

foo

In [168]:
for i in ['foo','bar','baz','quux']:
    print(i)
else:
    print ('done')

foo
bar
baz
quux
done

In [170]:
for i in ['foo','bar','baz','quux']:
    if i in 'bar':
        break
        print(i)
else:
    print('done')

## EXAMPLE

In [ ]:
100F

In [177]:
temp = input("ketika temperatur yg ingin dikonversikan, eg. 45F,120C:")
degree = int (temp[:-1])
i_convertion = temp[-1]

if i_convertion =="C":
    result = int(round((9*degree)/5+32))
elif i_convertion =="F":
    result=int(round((degree - 32)*5/9))
else:
    print("masukan input yang bener")
    

print ("temperatur adalah",result,"derajat")

ketika temperatur yg ingin dikonversikan, eg. 45F,120C:100F
temperatur adalah 38 derajat

In [180]:
while True:
    msg = input ("ketika karakter:").lower()
    print(msg)
    if msg == "stop":
        break

ketika karakter:bukan stop
bukan stop
ketika karakter:slow
slow
ketika karakter:STOP
stop